html,body,span,h1 { font-size: 15px; }
bibtex { display: none; }
.searchbar { margin-left:0px;}
#bibtex_errors { margin-top:10px; color: red;}
h1.header {margin-left:8px;}
h1.YEAR { font-size: 15px; font-weight: bold; display: inline; margin-left:8px;}

a {text-decoration: none !important;}
li {list-style-type: none;}
